// $Variables


// %PlaceHolders
%font_one {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
%font_two {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

// Style

html{
    scroll-behavior: smooth;
    transition: all 2s ease-in-out;
    body{
        margin: 0;
        z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
        header{
            margin-top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            video{
                position: absolute;
                z-index: -1;
                padding-top: 40%;
                bottom: 1px;
            }
            .pac{
                a{
                    z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
                    text-decoration: none;
                    font-size: 40px;
                    color: black;
                    margin-left: 100px;
                    margin-right: 100px;
                    &:hover{
                        color: rgb(212, 10, 37);
                        transition: 0.25s ease-in-out;
                    }
                }
            }
            section{
                .bigdot{
                    z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
                    width: 85px;
                    height: 85px;
                    background-color: black;
                    color: white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 40px;
                    a{
                        font-size: 55px;
                        font-weight: 100;
                        color: white;
                        text-decoration: none;
                        @extend %font_one;
                    }
                }
                p{
                    z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
                    font-size: 25px;
                }
            }
            .upside{
                z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
                rotate: 180deg;
                font-size: 10px;
                font-weight: 900;
                scale: 5;
                margin: 0;
                text-decoration: none;
                color: black;
            }
        }
        main{
            margin-top: 10cm;
            padding-top: 2cm;
            z-index: 1000000;
            background-color: white;
            .project{
                div{
                    margin-bottom: 0.3in;
                    a{
                        text-decoration: none;
                        color: black;
                        display: flex;
                        justify-content: center;
                        span{
                            font-size: 97px;
                        }
                    }
                }
                .grid{
                    margin-top: 60px;
                    display: grid;
                    grid-template-columns: 30% 30% 30%;
                    gap: 1.4cm;
                    margin-left: 82.5px;
                    a{
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        text-decoration: none;
                        color: black;
                        h1{
                            @extend  %font_two;
                            font-weight: 100;
                            font-size: 28px;
                        }
                        .photos{
                            margin : 20px;
                            background-color: black;
                            img{
                                width: 560px;
                                height: 360px;
                                &:hover{
                                    opacity: 50%;
                                    transition: all 0.2s ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
            .about{
                margin: 30px 0px;
                .image{
                    img{
                        width: calc(100vw - 15px);
                        margin: 0;
                    }
                }
                .info{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    a{
                        font-size: 97px;
                        color: black;
                        text-decoration: none;
                        margin-top: 1.5cm;
                        margin-bottom: 1.5cm;
                    }
                    p{
                        width: 690px;
                        @extend %font_two;
                        font-size: 16px;
                        font-weight: 100;
                        text-align: center;
                    }
                }
            }
            .contact{
                margin-top: 100px;
                .image{
                    .img{
                        width: 100vw;
                        margin: 0;
                    }
                }
            }
        }
    }
}


