// $Variables


// %PlaceHolders
%font_one {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
%font_two {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

// Style

html{
    scroll-behavior: smooth;
    transition: all 4s ease-in-out;
    body{
        margin: 0;
        z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
        header{
            margin-top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            video{
                position: absolute;
                z-index: -1;
                padding-top: 40%;
                bottom: 1px;
            }
            .pac{
                a{
                    z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
                    text-decoration: none;
                    font-size: 40px;
                    color: black;
                    margin-left: 100px;
                    margin-right: 100px;
                    &:hover{
                        color: rgb(212, 10, 37);
                        transition: 0.25s ease-in-out;
                    }
                }
            }
            section{
                .bigdot{
                    z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
                    width: 85px;
                    height: 85px;
                    background-color: black;
                    color: white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 40px;
                    a{
                        font-size: 55px;
                        font-weight: 100;
                        color: white;
                        text-decoration: none;
                        @extend %font_one;
                    }
                }
                p{
                    z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
                    font-size: 25px;
                }
            }
            .upside{
                z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
                rotate: 180deg;
                font-size: 10px;
                font-weight: 900;
                scale: 5;
                margin: 0;
                text-decoration: none;
                color: black;
            }
        }
        main{
            margin-top: 10cm;
            padding-top: 2cm;
            z-index: 1000000;
            background-color: white;
            .project{
                div{
                    margin-bottom: 0.3in;
                    a{
                        text-decoration: none;
                        color: black;
                        display: flex;
                        justify-content: center;
                        span{
                            font-size: 97px;
                        }
                    }
                }
                .grid{
                    margin-top: 60px;
                    display: grid;
                    grid-template-columns: 30% 30% 30%;
                    gap: 1.4cm;
                    margin-left: 4.1%;
                    a{
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        text-decoration: none;
                        color: black;
                        h1{
                            @extend  %font_two;
                            font-weight: 100;
                            font-size: 28px;
                            &:hover{
                                color: rgba(0, 0, 0, 0.521);
                                transition: all 0.2s ease-in-out;
                            }
                        }
                        .photos{
                            margin : 1vw;
                            background-color: black;
                            img{
                                width: 30.5vw;
                                height: 360px;
                                &:hover{
                                    opacity: 50%;
                                    transition: all 0.2s ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
            .about{
                margin: 30px 0px;
                .image{
                    img{
                        width: calc(100vw - 15px);
                        margin: 0;
                    }
                }
                .info{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    a{
                        font-size: 97px;
                        color: black;
                        text-decoration: none;
                        margin-top: 1.5cm;
                        margin-bottom: 1.5cm;
                    }
                    p{
                        width: 690px;
                        @extend %font_two;
                        font-size: 16px;
                        font-weight: 100;
                        text-align: center;
                    }
                }
            }
            .contact{
                margin-top: 100px;
                .image{
                    width: calc(100vw - 15px);
                    img{
                        width: calc(100vw - 15px);
                        max-height: 1080px;
                    }
                }
                .log-in{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    a{
                        font-size: 97px;
                        color: black;
                        text-decoration: none;
                        margin-top: 1.5cm;
                        margin-bottom: 1.5cm;
                    }
                    div{
                        .inp{
                            display: flex;
                            flex-direction: column;
                            div{
                                .bar{
                                    padding-left: 12px;
                                    width: 618px;
                                    height: 30px;
                                    border: solid black 1px;
                                    border-radius: 0%;
                                    &:hover{
                                        background-color: lightgray;
                                    }
                                    &:active{
                                        border: solid black 1px;
                                        border-radius: 0%;
                                        background-color: lightgray;
                                    }
                                }
                                .bbar{
                                    padding-left: 12px;
                                    width: 618px;
                                    height: 30px;
                                    padding-bottom: 46px;
                                    border: solid black 1px;
                                    border-radius: 0%;
                                    &:hover{
                                        background-color: lightgray;
                                    }
                                    &:active{
                                        border: solid black 1px;
                                        border-radius: 0%;
                                        background-color: lightgray;
                                    }
                                }
                            }
                        }
                        div{
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            gap: 5px;
                            margin-bottom: 14px;
                            div{
                                display: flex;
                                flex-direction: column;
                                label{
                                    display: flex;
                                    align-items: flex-start;
                                    justify-content: flex-start;
                                    @extend %font_two;
                                    font-size: larger;
                                    font-weight: 100;
                                }
                                .sbar{
                                    height: 30px;
                                    width: 288px;
                                    padding-left: 12px;
                                    border: solid black 1px;
                                    border-radius: 0%;
                                    &:hover{
                                        background-color: lightgray;
                                    }
                                    &:active{
                                        border: solid black 1px;
                                        border-radius: 0%;
                                        background-color: lightgray;
                                    }
                                }
                                .sbar.one{
                                    margin-right: 19px;
                                }
                            }
                        }
                        section{
                            display: flex;
                            justify-content: flex-end;
                            button{
                                @extend %font_two;
                                height: 40px;
                                width: 150px;
                                border-radius: 0%;
                                border: solid black 1px;
                                color: white;
                                background-color: black;
                                margin-right: 19px;
                                &:hover{
                                    background-color: lightgrey;
                                    color: black;
                                    transition: all 0.2s ease-in-out;
                                }
                            }
                        }
                        .ic{
                            display: flex;
                            p{
                                @extend %font_two;
                                font-weight: 100;
                                font-size: 16px;
                                width: 217px;
                            }
                            div{
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                flex-direction: row;
                                a{
                                    margin: 0%;
                                    margin-top: 10px;
                                    font-size: 28px;
                                }
                            }
                        }
                    }
                }
            }
        }
        footer{
            display: flex;
            justify-content: center;
            margin: 0;
            background-color: rgb(158, 57, 39);
            padding: 16px;
            color: white;
            @extend %font_two;
            font-weight: 100;
            font-size: 14px;
            a{
                color: white;
                margin-left: 4px;
                @extend %font_two;
                font-weight: 100;
                font-size: 13px;
            }
        }
    }
}


