html body header section .bigdot a {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html body footer a, html body footer, html body main .contact .log-in div .ic p, html body main .contact .log-in div section button, html body main .contact .log-in div div div label, html body main .about .info p, html body main .project .grid a h1 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  transition: all 4s ease-in-out;
}
html body {
  margin: 0;
  z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
}
html body header {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
html body header video {
  position: absolute;
  z-index: -1;
  padding-top: 40%;
  bottom: 1px;
}
html body header .pac a {
  z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
  text-decoration: none;
  font-size: 40px;
  color: black;
  margin-left: 100px;
  margin-right: 100px;
}
html body header .pac a:hover {
  color: rgb(212, 10, 37);
  transition: 0.25s ease-in-out;
}
html body header section .bigdot {
  z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
  width: 85px;
  height: 85px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
html body header section .bigdot a {
  font-size: 55px;
  font-weight: 100;
  color: white;
  text-decoration: none;
}
html body header section p {
  z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
  font-size: 25px;
}
html body header .upside {
  z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
  rotate: 180deg;
  font-size: 10px;
  font-weight: 900;
  scale: 5;
  margin: 0;
  text-decoration: none;
  color: black;
}
html body main {
  margin-top: 10cm;
  padding-top: 2cm;
  z-index: 1000000;
  background-color: white;
}
html body main .project div {
  margin-bottom: 0.3in;
}
html body main .project div a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}
html body main .project div a span {
  font-size: 97px;
}
html body main .project .grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 1.4cm;
  margin-left: 82.5px;
}
html body main .project .grid a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}
html body main .project .grid a h1 {
  font-weight: 100;
  font-size: 28px;
}
html body main .project .grid a .photos {
  margin: 20px;
  background-color: black;
}
html body main .project .grid a .photos img {
  width: 560px;
  height: 360px;
}
html body main .project .grid a .photos img:hover {
  opacity: 50%;
  transition: all 0.2s ease-in-out;
}
html body main .about {
  margin: 30px 0px;
}
html body main .about .image img {
  width: calc(100vw - 15px);
  margin: 0;
}
html body main .about .info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
html body main .about .info a {
  font-size: 97px;
  color: black;
  text-decoration: none;
  margin-top: 1.5cm;
  margin-bottom: 1.5cm;
}
html body main .about .info p {
  width: 690px;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
}
html body main .contact {
  margin-top: 100px;
}
html body main .contact .image .img {
  width: 100vw;
  margin: 0;
}
html body main .contact .log-in {
  display: flex;
  align-items: center;
  flex-direction: column;
}
html body main .contact .log-in a {
  font-size: 97px;
  color: black;
  text-decoration: none;
  margin-top: 1.5cm;
  margin-bottom: 1.5cm;
}
html body main .contact .log-in div .inp {
  display: flex;
  flex-direction: column;
}
html body main .contact .log-in div .inp div .bar {
  padding-left: 12px;
  width: 618px;
  height: 30px;
  border: solid black 1px;
  border-radius: 0%;
}
html body main .contact .log-in div .inp div .bar:hover {
  background-color: lightgray;
}
html body main .contact .log-in div .inp div .bar:active {
  border: solid black 1px;
  border-radius: 0%;
  background-color: lightgray;
}
html body main .contact .log-in div .inp div .bbar {
  padding-left: 12px;
  width: 618px;
  height: 30px;
  padding-bottom: 46px;
  border: solid black 1px;
  border-radius: 0%;
}
html body main .contact .log-in div .inp div .bbar:hover {
  background-color: lightgray;
}
html body main .contact .log-in div .inp div .bbar:active {
  border: solid black 1px;
  border-radius: 0%;
  background-color: lightgray;
}
html body main .contact .log-in div div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-bottom: 14px;
}
html body main .contact .log-in div div div {
  display: flex;
  flex-direction: column;
}
html body main .contact .log-in div div div label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: larger;
  font-weight: 100;
}
html body main .contact .log-in div div div .sbar {
  height: 30px;
  width: 288px;
  padding-left: 12px;
  border: solid black 1px;
  border-radius: 0%;
}
html body main .contact .log-in div div div .sbar:hover {
  background-color: lightgray;
}
html body main .contact .log-in div div div .sbar:active {
  border: solid black 1px;
  border-radius: 0%;
  background-color: lightgray;
}
html body main .contact .log-in div div div .sbar.one {
  margin-right: 19px;
}
html body main .contact .log-in div section {
  display: flex;
  justify-content: flex-end;
}
html body main .contact .log-in div section button {
  height: 40px;
  width: 150px;
  border-radius: 0%;
  border: solid black 1px;
  color: white;
  background-color: black;
  margin-right: 19px;
}
html body main .contact .log-in div section button:hover {
  background-color: lightgrey;
  color: black;
  transition: all 0.2s ease-in-out;
}
html body main .contact .log-in div .ic {
  display: flex;
}
html body main .contact .log-in div .ic p {
  font-weight: 100;
  font-size: 16px;
  width: 217px;
}
html body main .contact .log-in div .ic div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
html body main .contact .log-in div .ic div a {
  margin: 0%;
  margin-top: 10px;
  font-size: 28px;
}
html body footer {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: rgb(158, 57, 39);
  padding: 16px;
  color: white;
  font-weight: 100;
  font-size: 14px;
}
html body footer a {
  color: white;
  margin-left: 4px;
  font-weight: 100;
  font-size: 13px;
}/*# sourceMappingURL=style.css.map */